@import '../../theme.scss';

.login-signup {
  margin-top: 10%;

  h1 {
    text-align: center;
    text-decoration: underline;
    color: $primary;
  }

  .container {
    width: 30%;

    .email,
    .password {
      div {
        padding: 0;

        input.error-input {
          border-color: $error;

          &:focus {
            border-color: $default-input-border;
          }
        }
      }
    }

    .submit-btn {
      justify-content: flex-end;
    }
  }
}
