<div class="login-signup">
  <h1>{{ title }}</h1>

  <form (submit)="onSubmit(loginSignupForm)" #loginSignupForm="ngForm">
    <div class="container">
      <div class="row username" *ngIf="title === 'Sign Up'">
        <div class="col-12 form-group">
          <label>Username</label>
          <input name="username" type="text" class="form-control" placeholder="Username" ngModel
            #usernameInput="ngModel" required [ngClass]="{
                            'error-input':
                                (usernameInput.invalid && usernameInput.touched) ||
                                (isFormInvalid && usernameInput.untouched)
                        }" />
          <small class="text-danger" *ngIf="
                            (usernameInput.invalid && usernameInput.touched) ||
                            (isFormInvalid && usernameInput.untouched)
                        ">
            Please enter a valid Username
          </small>
        </div>
      </div>

      <div class="row email">
        <div class="col-12 form-group">
          <label>Email address</label>
          <input name="email" type="email" class="form-control" placeholder="Email" ngModel #emailInput="ngModel"
            required email [ngClass]="{
                            'error-input':
                                (emailInput.invalid && emailInput.touched) ||
                                (isFormInvalid && emailInput.untouched)
                        }" />
          <small class="text-danger" *ngIf="
                            (emailInput.invalid && emailInput.touched) ||
                            (isFormInvalid && emailInput.untouched)
                        ">
            Please enter a valid email
          </small>
        </div>
      </div>

      <div class="row password">
        <div class="col-12 form-group">
          <label>Password</label>
          <input name="password" type="password" class="form-control" placeholder="Password" ngModel
            #passwordInput="ngModel" required [ngClass]="{
                            'error-input':
                                (passwordInput.invalid && passwordInput.touched) ||
                                (isFormInvalid && passwordInput.untouched)
                        }" />
          <small class="text-danger" *ngIf="
                            (passwordInput.invalid && passwordInput.touched) ||
                            (isFormInvalid && passwordInput.untouched)
                        ">
            Please enter a valid password
          </small>
        </div>
      </div>

      <div class="row submit-btn">
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
