@import "../../theme.scss";

.navbar {
  box-shadow: -1px 0px 5px -1px rgba(120, 119, 120, 1);
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;

  .navbar-brand {
    color: $primary;

    h3 {
      margin-bottom: 0;
    }
  }

  .navbar-collapse {
    flex-grow: unset;
    width: 27%;

    @media only screen and (min-width: 1025px) {
      width: 15%;
    }


    .navbar-nav {
      width: 100%;
      align-items: center;
      justify-content: space-around;

      @media only screen and (max-width: 414px) {
        align-items: flex-end;
        margin-bottom: 3%
      }

      .nav-item {
        font-size: 20px;
      }

      .nav-item.sign-up {
        display: flex;
        align-items: center;

        a {
          padding: 7px;
          border-radius: 5px;

          &:hover {
            text-decoration: unset;
            background-color: $secondary;
            color: $primary;
          }
        }

      }
    }
  }
}
